pipeline/Airbnb_Src_Ingestion
{
    "name": "LookupJson",
    "type": "Lookup",
    "dependsOn": [],
    "policy": {
        "timeout": "0.12:00:00",
        "retry": 0,
        "retryIntervalInSeconds": 30,
        "secureOutput": false,
        "secureInput": false
    },
    "typeProperties": {
        "source": {
            "type": "JsonSource",
            "storeSettings": {
                "type": "LakehouseReadSettings",
                "recursive": true,
                "enablePartitionDiscovery": false
            },
            "formatSettings": {
                "type": "JsonReadSettings"
            }
        },
        "firstRowOnly": false,
        "datasetSettings": {
            "annotations": [],
            "linkedService": {
                "name": "bronze__lakehouse",
                "properties": {
                    "annotations": [],
                    "type": "Lakehouse",
                    "typeProperties": {
                        "workspaceId": "3ee8a8e3-8aa7-4753-bfb1-117b1ac1fc7e",
                        "artifactId": "9b19c6ba-eaec-4633-a634-b937ebd163a9",
                        "rootFolder": "Files"
                    }
                }
            },
            "type": "Json",
            "typeProperties": {
                "location": {
                    "type": "LakehouseLocation",
                    "fileName": "airbnb.json",
                    "folderPath": "LookUp_Json"
                }
            },
            "schema": {}
        }
    }
}

{
    "name": "ForAllData",
    "type": "ForEach",
    "dependsOn": [
        {
            "activity": "LookupJson",
            "dependencyConditions": [
                "Succeeded"
            ]
        }
    ],
    "typeProperties": {
        "items": {
            "value": "@activity('LookupJson').output.value",
            "type": "Expression"
        },
        "isSequential": true,
        "activities": [
            {
                "name": "CopyAirbnb Data",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "HttpReadSettings",
                            "requestMethod": "GET"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "type": "DelimitedText",
                            "typeProperties": {
                                "location": {
                                    "type": "HttpServerLocation",
                                    "relativeUrl": {
                                        "value": "@item().p_rel_url",
                                        "type": "Expression"
                                    }
                                },
                                "columnDelimiter": ",",
                                "escapeChar": "\\",
                                "firstRowAsHeader": true,
                                "quoteChar": "\""
                            },
                            "schema": [],
                            "externalReferences": {
                                "connection": "c616b712-4a0e-439f-83a2-1682bc58d9c1"
                            }
                        }
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "LakehouseWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings",
                            "enableVertiParquet": true
                        },
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "bronze__lakehouse",
                                "properties": {
                                    "annotations": [],
                                    "type": "Lakehouse",
                                    "typeProperties": {
                                        "workspaceId": "3ee8a8e3-8aa7-4753-bfb1-117b1ac1fc7e",
                                        "artifactId": "9b19c6ba-eaec-4633-a634-b937ebd163a9",
                                        "rootFolder": "Files"
                                    }
                                }
                            },
                            "type": "Parquet",
                            "typeProperties": {
                                "location": {
                                    "type": "LakehouseLocation",
                                    "fileName": {
                                        "value": "@item().p_sink_file",
                                        "type": "Expression"
                                    },
                                    "folderPath": {
                                        "value": "@item().p_sink_folder",
                                        "type": "Expression"
                                    }
                                },
                                "compressionCodec": "snappy"
                            },
                            "schema": []
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                }
            }
        ]
    }
}
